#.gitignore設定

#サイズの大きいファイル
*.wav

#その他外部情報+
# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

#Visual Studio 2017

.vs/
.vs/白紅プロジェクト/v15
Browse.VC.db
Browse.VC.opendb
[Dd]ebug/
Debug/
白紅プロジェクト.Build.CppClean.log


